<div class="bg-gradient-to-r from-violet-200 z-9  to-fushsia-200 flex justify-center align-center"> 
    <p class="text-[#2f4858] tracking-wide font-bold p-5 text-xl">&copy; 2025 My Website</p>
</div>