<div class="bg-gradient-to-r from-violet-200  to-fushsia-200 shadow-md mb-5 p-6">
    <div class="flex items-center justify-between">
      <h2 class="text-2xl font-extrabold text-[#2f4858] tracking-wide">📑 Task Manager</h2>
      <button class="text-white bg-black px-3 py-1 rounded-sm" onclick="window.location.href='/addtask' ">Add Task</button>
    </div>
</div>