<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header.ejs')%>
  </head>

  <body class="flex min-h-[100vh] bg-gray-100 justify-center items-center">

    
     <div class="min-w-lg mx-auto p-5">
      <form
        action="/resetPassword"
        method="post"
        class="flex items-start border border-gray-200 justify-center gap-5 shadow-md rounded-md flex-col p-6 py-8"
      >
        <h2 class="text-center w-full my-5 mb-12 font-semibold text-2xl">
          Advance TodoList
        </h2>

        <div class="flex w-full justify-center gap-2 flex-col">
          <label class="text-medium font-medium tracking-wide"
            > Your Register Email</label
          >
          <input
            type="text"
            class="w-full p-2 mb-4 border border-gray-300 rounded bg-gray-200"
            name="email"
            required
            value="<%=user.email %>"
          />
        </div>

                <div class="flex w-full justify-center gap-2 flex-col">
          <label class="text-medium font-medium tracking-wide"
            >Enter new Password</label
          >
          <input
            type="password"
            class="w-full p-2 mb-4 border border-gray-300 rounded"
            name="password"
            required

          />
        </div>

                <div class="flex w-full justify-center gap-2 flex-col">
          <label class="text-medium font-medium tracking-wide"
            >Confirm Password</label
          >
          <input
            type="password"
            class="w-full p-2 mb-4 border border-gray-300 rounded"
            name="confirmPassword"
            required

          />
        </div>

        <button
          type="submit"
          class="w-full bg-green-500 p-2 my-2 text-white font-medium"
        >
          Reset Password
        </button>
      </form>
    </div>
  </body>
</html>
