<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header.ejs')%>
</head>

<body class="flex min-h-[100vh] bg-gray-100 justify-center items-center">
    <div class="min-w-2xl mx-auto p-5">

        <form action="/userSignUp" method="post" enctype="multipart/form-data" 
        class="flex items-start border border-gray-200  justify-center gap-2 shadow-md rounded-md flex-col p-6 py-8">
        <h2 class="text-center w-full my-5 mb-12 font-semibold text-2xl">Advance TodoList</h2>   
        <div class="flex items-center justify-between gap-4 w-full ">
                <div class="flex w-full justify-center gap-2 flex-col">
                    <label for="firstName" class="text-medium font-medium tracking-wide">First Name</label>
                    <input type="text" class="w-full p-2 mb-4 border border-gray-300 rounded" name="firstName"   required>
                </div>

                <div class="flex w-full justify-center gap-2 flex-col">
                    <label for="lastName" class="text-medium font-medium tracking-wide">Last Name</label>
                    <input type="text" class="w-full p-2 mb-4 border border-gray-300 rounded" name="lastName"  required>
                </div>
            </div>

            <div class="flex w-full justify-center gap-2 flex-col">
                <label for="email" class="text-medium font-medium tracking-wide">Email</label>
                <input type="text"  class="w-full p-2 mb-4 border border-gray-300 rounded" name="email" required>
            </div>

            <div class="flex items-center justify-between gap-4 w-full ">
                <div class="flex w-full justify-center gap-2 flex-col">
                    <label for="Password" class="text-medium font-medium tracking-wide">Password</label>
                    <input type="password"  class="w-full p-2 mb-4 border border-gray-300 rounded" name="password" required>
                </div>

                <div class="flex w-full justify-center gap-2 flex-col">
                    <label for="profilePic" class="text-medium font-medium tracking-wide">Profile Pic</label>
                    <input type="file" accept="image/*"  class="w-full p-2 mb-4 border border-gray-300 rounded" name="profilePic" required>
                </div>
            </div>

            <div class="flex justify-center w-full items-center gap-2 ">
                <span class="text-gray-400 tracking-wider">
                    Already Have A Account?
                </span>
                <button class="text-blue-500 font-xl pointer hover:underline" onclick="window.location.href='loginPage'" type="button">Login</button>
            </div>


            <button type="submit" class="w-full bg-green-500 p-2 my-2 text-white font-medium">Sign Up</button>
        </form>
    </div>
</body>

</html>